POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DB_NAME=microservices_db

SECRET_KEY=secret
REFRESH_KEY=secretlonger
JWT_ALGORITHM=HS256
TIMEDELTA=10

REDIS_HOST=localhost
REDIS_PORT=6379
STOP_LOGIN=300
